.blog-list-card-container{
    width: 100%;
    height: 416px;
    padding-block: 45px;
}

.blog-list-card-container:hover{
    background-color: goldenrod;
    margin-right:5%;
}

.blog-listviewcard-horizontal{
    display: flex;
    flex-direction: row;
}


.imgdiv {
    width: 40%;

}

.contentdiv {
    width: 60%;

}

.blog-list-card-img{
    width: 100%;
    height: 416px;
 
}

.blog-card-content-container{
    width: 75%;
    height: 100%;
    margin-left: 10%;
    align-content: flex-start;

}

.blog-card-title{
    font-size: 37px;
    color: #56009A;
    font-weight: 700;
    text-align: center;

}

.blog-card-content{
    font-size: 36px;
    color: black;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.blog-card-learnmore{
    font-size: 26px;
    color: #56009A;
    font-weight: 800;
    text-align: center;
}

.blog-list-card-container b{
    color: goldenrod;
}