.categoryview {
    width: 100%;
    background-color: white;

  
}

.categoryview:hover{
    height: 110%;
    background-color: goldenrod;
}

.categoryimg{
    margin-block: 2%;
    margin-inline: 5%;
    width: 90%;
}

.categorytitle{

    margin-right: 60%;
    color: #56009A    ;
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    font-style: normal;
  
    width: 100%;
}

.categoryctn{
    top: 2%;
    font-style: italic;
    color: black;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    width: 90%;
}

.learnmore{
   
    font-weight: 700;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    bottom: 5%;
    color: #56009A;
}

