.form-container {
    height: 100%;
    width: 80%;
    position: relative;
}

h1 {
    margin-left: 5%;
}

.in-line-form {
    width: 100%;
}

.inputs-vertical{
    display: flex;
    flex-direction: column;
    align-content: space-between;
 
    width: 100%;
}

.inputs-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-container{
    
    width: 200%;
    top: 20%;
    left: 2%;
    right: 10%;
 
}

.input-container-long {
    margin-left: 5%;
}

input {
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 border-bottom: 80%;
 
}

input, label{
    display: block;
}

label{
    font-size: 70%;
    padding: 10%;
}

/*form {
    margin-left: 30%;
} */

.submit-form-btn{
    background-color: purple;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    margin-inline: 50%;
    margin-block: 5%;
    border: none;
}

.submit-form-btn:hover{
    background-color: goldenrod;
    color: black;
}

.error-msg{
    margin-left: 40%;
    color: red;
    font-size: 50%;
}

.input-container input {
    width: 80%;
}

.form-container-zh {
    width: 170%;
    
}

.form-container-zh label{
    margin-inline: 10%;
}