.form-container {
    height: 100%;
    width: 80%;
    position: relative;
}

.form-group{
    position: relative;
    align-items: flex-start;
}

h1 {
    margin-left: 5%;
    color: rgb(74, 74, 74);
}

.in-line-form {
    width: 100%;
}

.inputs-vertical{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.inputs-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-container{

    text-align: left;
    top: 20%;
    left: 2%;
    right: 7%;
    margin-left: 1%;
    margin-right: 3%;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 50%;
}

input, label{
    display: block;
}

label{
    align-items: flex-start;
    font-size: 80%;
    font-weight: bold;
    color: purple; 
    padding-top: 5%;
    padding-bottom: 7%;
}

.submit-form-btn{
    background-color: #56009A;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 10%;
    border:none;
    border-radius: 5px;
    font-size: medium;
}

.submit-form-btn:hover{
    background-color: rgb(244, 179, 17);
    font-weight: bold;
}

.error-msg{
    margin-left: 40%;
    color: red;
    font-size: 50%;
}

.input-container input {
    width: 50%;
}

.form-container-zh {
    width: 170%;
    
}

.form-container-zh-2 {
    width: 80%;
}

.form-container-zh label{
    margin-inline: 10%;
}