.form-group{
    display: flex;
    flex-direction: column;
}
form{
    transform: translateY(-6%);
}

.form-group h2 {
    width: 100%;
    margin-left: 8%;
    color: rgb(74, 74, 74);
    font-size: 20px;
    margin-bottom: 20px;
}

.chinese-head{
    width: 200%;
    text-align: center;
}

.in-line-form {
    width: 100%;
}

.inputs-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs-horizontal{
    display: flex;
    flex-direction: row;
}

.inputs-horizontal li{
    flex:1;
}
.input-container{
    text-align: left;
    top: 20%;
    left: 2%;
    margin-left: 1%;
    margin-right: 0%;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}
textarea{
    border:1px solid rgb(110, 110, 110);
    background-color: rgba(209, 157, 255, 0.071);
    border-radius: 3px;
    text-align: left;
}
input, label{
    display: block;
}

label{
    align-items: flex-start;
    font-size: 17px;
    font-weight: bold;
    color: purple; 
    padding-top: 5%;
    padding-bottom: 7%;
    text-align:left;
}

.submit-form-btn{
    background-color: rgb(244, 179, 17);
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    border:none;
    border-radius: 5px;
    font-size: large;
    margin-left: 45%;
}

.submit-form-btn:hover{
    background-color: purple;
    font-weight: bold;
}

.error-msg{
    margin-left: 40%;
    color: red;
    font-size: 50%;
}

.input-container input {
    width: 50%;
}

.form-container-zh {
    width: 170%;
    
}

.form-container-zh-2 {
    width: 80%;
}

.form-container-zh label{
    margin-inline: 10%;
}