.dropdown{
    height: 2rem;
}

.dropdown-menu{
    display: grid;
    flex-direction: column;
}
.dropdown-list {
    background-color: rgba(255, 255, 255, 0.6);
}


.ddcontainer{
    display: grid;
}

.dropdown-menu ul{
    margin-top: 20%;    
    color: black;
    flex-direction: column;
}

.dropdown-list{
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-title{
    font-size:16px;
}

.text{
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 200;
    color:black;
    padding:2px;
    text-align: center;
}


.text:hover{
    color: #56009A;
    font-weight: 700;
}

.dropdown-menu:hover{
    color: #56009A;
    font-weight: 700;
}



