.header{
    position: absolute;
    align-content: center;
    width: 90%;
    height: 10%;
    top: 5%;
    /*border: solid 1px rgb(255, 0, 0);//for an idea of where the parameters are*/
    background: #FFFFFF;
}

ul{
    list-style: none;
    align-content: center;
}

.header ul{
    display: flex;
    align-content: center;
    top: 50%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.logoimg{
    height: 100%;
    width: 40%;
    transform: translateY(-10%);
    
}

.header ul li{
    flex: 1;
    text-align: center;
    /*border: solid 1px #777;*/
    position: relative;
    resize: none;
}

.litext{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    -ms-transform: translateY(50%);
    transform: translateY(35%);
}

.litext:hover{
    color: purple;
}

.startnow{
    align-content: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.headermenu:hover{
    color: purple;
}

.rectangle{
    background: purple;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 100px;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.rectangle:hover{
    background: orange;
}