.dropdown{
    height: 2rem;
}

.dropdown-menu{
    display: inline-block;
}

.ddcontainer{
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
}

.dropdown-menu ul{
    color: black;
    margin-top: 25%;
    background-color: rgba(255, 255, 255, 0.3);

    flex-direction: column;
    background-color: white;
}

.dropdown-list ul{
    margin-top: 40%;
    flex-direction: column;
    background-color: white;
}

.text{
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.text:hover{
    color: purple;
}

.title:hover{
    color: purple;
}



