.header{
    position: relative;
    width: 90%;
    height: 10%;
    top: 10%;
    
    background: #FFFFFF;
}

ul{
    list-style: none;
    align-content: center;
}

.header ul{
    display: flex;
    align-items: left;
    align-content: center;
    top: 50%;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}

.logoimg{
    height: 100%;
    width: 40%;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%)
}

.header ul li{
    position: relative;
    margin-left: auto;
    align-items: left;
    resize: none;
}

.litext{
    align-content: left;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.litext:hover{
    color: purple;
}

.startnow{
    align-content: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.rectangle{
    
    background: purple;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 100px;
}

.rectangle:hover{
    background: orange;
}

