.dropdown{
    height: 2rem;
}

.dropdown-menu{
    text-align: center;
    color: black;
    position: relative;
    display: inline-block;
}

.ddcontainer{
    margin-top: 20%;
}

.dropdown-menu ul{
    position: relative;
    flex-direction: column;
    background-color: white;
}

.dropdown-list ul{
    margin-top: 40%;
    flex-direction: column;
    background-color: white;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.text:hover{
    color: purple;
}

.title:hover{
    color: purple;
}


