.our-story-container {
    margin-inline: 12%;

}

h1 {
    text-align: center;
    font-size: 200%;
    color: purple;
}

b {
    font-size: inherit;
    color: goldenrod;
}

p {
    font-size: 120%;
    color: grey;
    font-style: italic;
    text-align: center;
}

.img-span{
  
    width: 100%;
    height: 450px;
}

h2 {
    text-align: center;
    font-size: 165%;
    color: purple;
}

.side-img{
    margin-inline: 10%;
    width: 70%;
}

.our-story-hl{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h3{
    text-align: center;
    margin-bottom: 5%;
}

.bullet{
    list-style:disc;
}

.bullet li p {
    text-align: left;
    font-size: 120%;
    color: black;
    font-style: normal;
}