.our-team-container {
    height: inherit;
    width: 90%;
    margin: 5%;
}

.our-team-container p {
    font-style: italic;
    text-align: center;
}

.our-story-hl-team{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.our-story-hl-stack{
    display: flex;
    flex-direction: row;
}

.our-story-vl-stack{
    display: flex;
    flex-direction: column;
    width: 70px;
}

.team-img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.descr {
    margin-right: 20%;
    
}

.profile{
    margin: 3%;
    height: 160px;
    width: 450px;
  
}

.our-team-container h1 {
    font-size: 300%;
    color: black;
}

.sunny-img {
    height: 75%;
    width:auto;
    left: 60%;
    margin-left:-10%;
    margin-bottom:-10%;
}

.our-team-hl{
    display: flex;
    margin: 2%;
    flex-direction: row;
    justify-content:baseline;
}

.our-team-hl p {
    font-size: 120%;
}

.descr-sunny{
    margin-right:5%;
  
}

.descr-sunny p {
    text-align: left;
    margin-left: -140%;
    width: 200%;
    font-style: italic;
    font-size: 17px;
    margin-top:-10%;
}

.descr-sunny h5 {
    color: black;
    text-align: left;
    font-weight: 400;
    font-size: 180%;
    margin-left: -140%;
    width: 150%;
    font-style: normal;
    
}

h6 {
    position: relative;
    font-weight: 300;
    margin-block: 2%;
    bottom: 0;
    font-size: 80%;
    align-self: flex-end;
}

.title {
    text-decoration: underline;
    width: fit-content;
}

.title-div{
    margin-top:-20%;
}