.name-container{
    width: 100%;
    margin-left: 10%;
    margin-right: auto;
    margin-top:7%;
    margin-bottom:5%;
}

h2{
    font-size:45px;
    color: black;
}
.dec{
    margin:5% 70% -0.8% 10%;
    background-color: orange ;
    padding: 15px ;
    
}
.picture-content-container{
    display:flex;
    margin-left:15%;
    margin-right:auto;
    width:90%;
    height:60%;
    margin-bottom:10%;
}

.img{
    height: 250px;
    width:auto;
    border-radius: none;
}

.content-container{
    margin-left: 15%;
    margin-right: 15%;
}

p{
    text-align:left;
    font-size: 18px;
    color:black;
}

